<ul class="collapsible">
  <% let recipes = mealplan.dataValues.recipes %>
  <% recipes.forEach((recipe)=>{ %>
    <li>
        <div class="collapsible-header">
          <span><%= recipe.name  %>&nbsp|&nbsp</span>
          <span><%= parseFloat(recipe.calories).toFixed(2)  %> cals</span>
        </div>
        <div class="collapsible-body white">
          <div class="row">
            <span class="col s4"><%= parseFloat(recipe.protein).toFixed(2) %> grams of Protein</span>
            <span class="col s4"><%= parseFloat(recipe.carbs).toFixed(2) %> grams of Carbs</span>
            <span class="col s4"><%= parseFloat(recipe.fat).toFixed(2) %> grams of Fat</span>
          </div>
          <div>
            <ul>
              <% for(var key in recipe.ingredients){ %>
                <li><%= recipe.ingredients[key].amount %> <%= recipe.ingredients[key].name %></li>
              <% } %>
            </ul>
          </div>
          <div>
            <% recipe.instructions.forEach((instruction)=>{ %>
              <p><%= instruction %></p>
            <%  }) %>
          </div>
          <form action="/mealplan/<%= mealplan.weekdate %>/edit/?_method=PUT" method="POST">
            <input type="hidden" value="<%= recipe.id %>" name="recipe">
            <input type="submit" value="Change Recipe">
          </form>
        </div>
    </li>
  <% }) %>
</ul>
<form method="POST" action="/mealplan/<%= mealplan.id %>/delete/?_method=DELETE">
  <input type="submit" value="Delete Mealplan">
</form>