<ul class="collapsible">
  <% mealplan.forEach((recipe)=>{ %>
    <li>
        <div class="collapsible-header">
          <span><%= recipe.name  %></span>
          <span>Prep Time:<%= recipe.prepTime %></span>
          <span>Cook Time:<%= recipe.cookTime %></span> 
        </div>
        <div class="collapsible-body">
          <ul>
            <% for(var key in recipe.ingredients){ %>
              <li><%= key %> : <%= recipe.ingredients[key] %></li>
            <% } %>
          </ul>
          <% recipe.instructions.forEach((instruction)=>{ %>
            <p><%= instruction %></p>
          <%  }) %>
        </div>
    </li>
  <% }) %>
</ul>