<% recipes.forEach((recipe)=>{ %>
  <div>
    <span><%= recipe.name  %></span>
  </div>
  <div>
    <ul>
      <% for(var key in recipe.ingredients){ %>
        <li><%= key %> : <%= recipe.ingredients[key] %></li>
      <% } %>
    </ul>
    <% recipe.instructions.forEach((instruction)=>{ %>
      <p><%= instruction %></p>
    <%  }) %>
  </div>
  <button><a href="/recipes/<%= recipe.id %>/delete">Delete Recipe</a></button>
<% }) %>
